* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

dialog {
    justify-self: center;
    align-self: center;
}

.dialog-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 6px;
}

html {
    height: 100%;
}

body {
    display: grid;
    min-height: 100%;
    grid-template-rows: 1fr 8fr 1fr;
}

.container {
    display: grid;
    grid-template-columns: 20vw 80vw;
}

.task-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    max-height: 80vh;
    gap: 20px;
    padding: 10px;
    background-color: pink;
    overflow: scroll;
}

.task-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: bisque;
    max-height: 40%;
    max-width: 200px;
    padding: 6px;
}

.task-buttons {
    display: flex;
    align-self: flex-end;
    gap: 6px;
}

.due-date {
    align-self: end;
}

.card-bottom {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-items: end;
    gap: 12px;
}

.card-top {
    display: flex;
    flex-direction: column;
    justify-items: start;
    gap: 12px;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 6px;
    background-color: aqua;
}

.sort {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
}

.projects{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: yellow;
    padding: 6px;
}

footer {
    background-color: blueviolet;
    padding: 6px;
}

.task-container {
    display: grid;
    padding: 6px;
}

.incomplete {
    background-color: red;
}

.complete {
    background-color: green;
}