* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

button {
    margin: 0;
    padding: 3px;
    width: auto;
    overflow: visible;
    background: transparent;
    font-size: 16px;
    font-weight: 700;
}

button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(109, 109, 103);
}

.menu-button {
    width: 100%;
}
.project-button {
    width: 60%;
}

.remove-button {
    margin-left: 1em;
}

::-webkit-scrollbar {
    width: 4px;
}

dialog {
    justify-self: center;
    align-self: center;
}

.dialog-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 6px;
}

html {
    height: 100%;
}

body {
    display: grid;
    min-height: 100%;
    grid-template-rows: 1fr 8fr;
}

.container {
    display: grid;
    grid-template-columns: 15vw 85vw;
}

.task-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px;
    background: rgb(255, 255, 255);
    overflow: scroll;
}

.task-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(252, 250, 250);
    box-shadow: -5px 5px 5px black;
    border: 1px solid black;
    max-height: 35vh;
    max-width: 200px;
    padding: 6px;
}

.task-box-complete {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(162, 255, 162);
    box-shadow: -5px 5px 5px black;
    border: 1px solid black;
    opacity: 0.5;
    max-height: 35vh;
    max-width: 200px;
    padding: 6px;
}

.task-buttons {
    display: flex;
    align-self: flex-end;
    gap: 6px;
}

.due-date {
    align-self: end;
}

.card-bottom {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-items: end;
    gap: 12px;
}

.card-top {
    display: flex;
    flex-direction: column;
    justify-items: start;
    gap: 12px;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 12em;
    padding: 20px;
    width: 15vw;
    background: rgb(241, 239, 239);
    border-right: 6px double rgba(163, 149, 149, 0.541);
}

.sort {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
}

.projects{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(248, 244, 237);
    padding: 6px;
    border-bottom: 6px double rgba(163, 149, 149, 0.541);
}

.task-container {
    display: grid;
    padding: 6px;
    margin-left: 6px;
}

.incomplete {
    background-color: rgb(253, 65, 65);
}
.incomplete:hover {
    background-color: brown;
}

.complete:hover {
    background-color: rgb(2, 88, 2);
}

.complete {
    background-color: rgb(14, 182, 14);
}

p {
    white-space: pre-wrap;
}